.box-article {
  width: 100%;
  background-color: #fff;
  // background-color: #f9f9f9;
  border-radius: 15px;
  padding: 16px;
  height: 100%;
  box-shadow: 0 0 2px 0 #0000001f;
  .img-holder {
    position: relative;
    display: block;
    width: 100%;
    height: 100px;
    margin-bottom: 12px;
    img {
      @include full-w-h;
      border-radius: 8px;
      transition: all 300ms ease;
      &:hover {
        opacity: 0.7;
      }
    }
    .cat {
      position: absolute;
      top: 10px;
      left: 10px;
      background-color: $main-color;
      color: #fff;
      border-radius: 8px;
      font-size: 12px;
      padding: 8px;
      display: block;
      z-index: 1;
      transition: all 300ms ease;
      &:hover {
        opacity: 0.7;
      }
    }
    &.lg {
      height: 210px !important;
    }
  }
  .name {
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
    font-weight: 700;
    color: #444;
    transition: all 300ms ease;
    &:hover {
      opacity: 0.7;
    }
  }
  .des {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 0px;
  }
}

.list-topic {
  height: 100%;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  .list-item-head {
    margin-bottom: 13px;
    a {
      display: block;
      padding: 10px 15px;
      border-bottom: 1px solid black;
      color: black;
      font-weight: 600;
      i,
      svg {
        font-size: 30px;
        margin-left: 5px;
      }
      span {
        font-size: 25px;
      }
    }
    &:hover {
      background-color: black;
      a {
        color: white;
      }
    }
  }
  .list-item {
    &:not(:last-child) {
      border-bottom: 1px solid #ddd;
    }
    .list-link {
      display: block;
      padding: 10px 10px;
      font-size: 18px;
      font-weight: 600;
      span {
        color: black;
      }
      &:hover {
        color: black;
      }
    }
  }
  &.yellow {
    .list-item-head {
      a {
        border-bottom: 1px solid #f7b916;
        color: #f7b916;
      }
      &:hover {
        background-color: #f7b916;
        a {
          color: white;
        }
      }
    }
    .list-item {
      .list-link {
        span {
          color: #f7b916;
        }
        &:hover {
          color: #f7b916;
        }
      }
    }
  }
  &.green {
    .list-item-head {
      a {
        border-bottom: 1px solid #49b747;
        color: #49b747;
      }
      &:hover {
        background-color: #49b747;
        a {
          color: white;
        }
      }
    }
    .list-item {
      .list-link {
        span {
          color: #49b747;
        }
        &:hover {
          color: #49b747;
        }
      }
    }
  }
  &.purple {
    .list-item-head {
      a {
        border-bottom: 1px solid #794399;
        color: #794399;
      }
      &:hover {
        background-color: #794399;
        a {
          color: white;
        }
      }
    }
    .list-item {
      .list-link {
        span {
          color: #794399;
        }
        &:hover {
          color: #794399;
        }
      }
    }
  }
  &.light-green {
    .list-item-head {
      a {
        border-bottom: 1px solid #6dba86;
        color: #6dba86;
      }
      &:hover {
        background-color: #6dba86;
        a {
          color: white;
        }
      }
    }
    .list-item {
      .list-link {
        span {
          color: #6dba86;
        }
        &:hover {
          color: #6dba86;
        }
      }
    }
  }
  &.light-blue {
    .list-item-head {
      a {
        border-bottom: 1px solid #3a9eb6;
        color: #3a9eb6;
      }
      &:hover {
        background-color: #3a9eb6;
        a {
          color: white;
        }
      }
    }
    .list-item {
      .list-link {
        span {
          color: #3a9eb6;
        }
        &:hover {
          color: #3a9eb6;
        }
      }
    }
  }
}

.ads-in-list {
  width: 100%;
  margin-bottom: 20px;
  img {
    width: 100%;
    min-height: 250px;
    object-fit: contain;
  }
}

.ads-article {
  width: 100%;
  height: fit-content;
  img {
    @include full-w-h;
    object-fit: contain;
  }
  &.ads-article-sm {
    height: 150px;
  }
}

.box-view-article {
  padding: 15px;
  border: 1px solid #ddd;
  background-color: #fff;
  border-radius: 4px;
  .article-data {
    .article-title {
      margin-bottom: 20px;
      font-size: 32px;
      color: #333;
      font-weight: 700;
    }
    .author-data {
      @include flex-start;
      gap: 10px;
      margin-bottom: 15px;
      .img-holder {
        width: 60px;
        height: 60px;
        .author-img {
          @include circle(100%);
        }
      }
      .data {
        .def {
          margin-bottom: 5px;
          a {
            color: $main-color;
            &:hover {
              text-decoration: underline;
            }
          }
        }
        .date {
          margin-bottom: 0;
        }
      }
    }
    .article-image {
      width: 100%;
      height: 295px;
      margin-bottom: 20px;
      .article-img {
        @include full-w-h;
        border-radius: 4px;
      }
    }
    .related-list {
      border-bottom: 2px solid #ddd;
      li {
        &:not(:last-child) {
          border-bottom: 1px solid #ddd;
        }
      }
      .title {
        padding: 10px;
        font-weight: 700;
        font-size: 18px;
      }
      .list-item {
        .list-link {
          display: block;
          padding: 10px;
          font-weight: 700;
          font-size: 14px;
          color: $main-color;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
    .content-list {
      list-style: arabic-indic;
      padding-right: 20px;
      border-bottom: 2px solid #ddd;
      .title {
        margin-bottom: 0;
        padding: 10px;
        font-weight: 700;
        font-size: 18px;
        background-color: #f3f3f3;
        border-bottom: 2px solid $main-color;
      }
      .list-item {
        .list-link {
          display: block;
          padding: 10px;
          font-weight: 700;
          font-size: 14px;
          color: $main-color;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
    .box-reference {
      margin-bottom: 20px;
      .reference-title {
        position: relative;
        width: 100%;
        text-align: right;
        font-weight: 700;
        padding: 9px 20px;
        font-size: 25px;
        border: 1px solid #eaeaea;
        border-bottom: 2px solid $main-color;
        background-color: $white;
        &::before {
          content: "[+]";
          position: absolute;
          top: 50%;
          right: 115px;
          font-weight: 600;
          transform: translateY(-50%);
          color: $main-color;
          transition: all 300ms ease;
        }
        &[aria-expanded="true"] {
          &::before {
            content: "[-]";
          }
        }
      }
      .card-reference {
        background: #f8f8f8;
        border: 1px solid #eaeaea;
        border-top: none;
        padding: 15px;
        .list-reference {
          list-style: arabic-indic;
          padding-right: 20px;
          li {
            &:not(:last-child) {
              margin-bottom: 15px;
            }
          }
        }
      }
    }
    .box-rate {
      padding: 15px;
      border-radius: 10px;
      background-color: #f4f4f4;
      text-align: center;
      margin-bottom: 20px;
      .title {
        margin-bottom: 15px;
        font-size: 18px;
        font-weight: 700;
        text-align: center;
      }
      .btn-holder {
        @include flex-center;
        gap: 20px;
        .btn-circle {
          @include circle(50px);
          @include flex-center;
          border-width: 2px;
          font-weight: 700;
        }
      }
    }
    .share-bar {
      @include flex-between;
      flex-wrap: wrap;
      gap: 15px;
      border-bottom: 2px solid $main-color;
      padding: 10px;
      margin-bottom: 10px;
      .share {
        @include flex-start;
        gap: 10px;
        span {
          font-weight: 600;
        }
        .btn-share {
          padding: 3px 10px;
          font-size: 13px;
          color: $white;
          transition: all 300ms ease;
          &.fc {
            background-color: #3c5a9a;
          }
          &.tw {
            background-color: #329bc2;
          }
          &:hover {
            transform: scale(1.06);
          }
        }
      }
    }
    .more-article {
      .title {
        margin-bottom: 10px;
        font-weight: 700;
        font-size: 18px;
      }
      .box-article {
        padding: 0px;
        box-shadow: none;
        .img-holder {
          margin-bottom: 6px;
        }
        .name {
          font-size: 14px;
        }
      }
    }
    .box-article {
      padding: 10px;
      box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1215686275);
      .name {
        font-size: 14px;
      }
    }
  }
  .article-common {
    .common-title {
      border-bottom: 1px solid #ddd;
      margin-bottom: 20px;
      padding: 10px;
      font-weight: 700;
      font-size: 18px;
    }
    .box-article {
      padding: 0px;
      box-shadow: none;
      .img-holder {
        margin-bottom: 6px;
      }
      .name {
        font-size: 14px;
      }
    }
    .other-article {
      .list-item {
        .list-link {
          &:first-child {
            padding-top: 0;
          }
          display: block;
          padding: 12px 10px;
          font-weight: 700;
          font-size: 17px;
          color: $main-color;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
    .ads-in-list {
      height: 250px;
      img {
        height: 100%;
      }
    }
  }
}
