* {
  @include reset-all;
}
html {
  scroll-behavior: smooth;
}
body {
  min-height: 100vh;
  font-family: "Cairo", sans-serif;
  font-size: 16px;
  // background-color: $white;
  background-color: #f9f9f9;
  color: $text-color1;
}
// reset Ul
ul {
  @include reset-ul;
}
// reset Link
a {
  @include a-reset;
}
// reset btn
button {
  border: none;
  outline: none;
}
// Reset Input
input:focus,
select:focus {
  outline: none;
}



/* end scrollbar */
.up-btn {
  position: fixed;
  bottom: 16px;
  right: -50px;
  @include circle(40px);
  @include flex-center;
  color: #fff;
  background-color: $main-color;
  z-index: 999;
  overflow: hidden;
  cursor: pointer;
  transition: 0.4s;
  i,svg {
    font-size: 17px;
  }
  &.show {
    right: 16px;
  }
  &::before {
    content: "";
    position: absolute;
    top: 0%;
    left: 0%;
    width: 0%;
    height: 100%;
    z-index: -1;
    background-color: $main-color-light;
    transition: 0.4s;
  }
  &:hover::before {
    width: 100%;
  }
}

.breadcrumb-bg {
  background-color: #e9e9e9;
  padding: 10px;
}