.land-section {
  width: 100%;
  height: 100vh;
  .overlay-landing {
    position: relative;
    height: calc(100% - 120px);
    background: url("../images/landing-bg.png") center;
    background-color: $white;
    @include flex-center;
    z-index: 1;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgb(234 100 15 / 60%);
      z-index: -1;
    }
    .container {
      @include flex-center;
      .content-landing {
        width: 100%;
        .text {
          margin-bottom: 30px;
          font-size: 1.9rem;
          font-weight: 700;
          line-height: 55px;
          text-align: center;
          color: $white;
          @include maxWidth(sm) {
            font-size: 1.7rem;
          }
        }
        .landing-search {
          position: relative;
          background-color: $white;
          width: calc(100% - 340px);
          max-width: 100%;
          margin: auto;
          @include flex-between;
          border-radius: 6px;
          height: 70px;
          @include maxWidth(sm) {
            width: 100%;
          }
          input {
            width: 100%;
            padding: 0px 8px;
            height: 100%;
            border: 0;
            font-size: 16px;
            margin: 0 !important;
            &:focus::placeholder {
              opacity: 0;
              transition: all 300ms ease;
            }
          }
          .search-icon {
            @include flex-center;
            width: 70px;
            height: 100%;
            font-size: 27px;
            color: $main-color-light;
          }
          .search-btn {
            width: 110px;
            background-color: $main-color;
            text-align: center;
            height: 56px;
            line-height: 56px;
            border-radius: 6px;
            border: 0;
            font-size: 16px;
            font-weight: 600;
            color: #fff;
            margin: 8px;
            transition: all 300ms ease;
            &:hover {
              background-color: $main-color-light;
            }
          }
        }
      }
    }
    
  }
  .banner-ads {
    height: 120px;
    @include flex-center;
    .container {
      @include flex-center;
    }
    img {
      width: fit-content;
      max-width: 100%;
      margin: auto;
      height: auto;
    }
  }
}

.topics-section {
  background-color: #fff;
  // background-color: #f9f9f9;
}
